@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "PPMori";
	src: url("/font/PPMori-Regular.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: "PPMori";
	src: url("/font/PPMori-SemiBold.otf") format("opentype");
	font-weight: 600;
}

.embla__slide {
	margin-right: 20px;
	margin-left: 20px;
}
